body {
  background-image: url(background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  background: rgba(0, 0, 0, 0.4);
  width: 65%;
  height: 700px;
  padding: 50px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
}

.mainlogo {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#logo {
  width: 25%;
  height: auto;
  margin-top: 25px;
}

.mybuttons {
  margin: 5px;
  margin-top: 8px;
}

.title {
  color: chartreuse;
  font-size: 30px;
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.bgprenotazione {
  background: chartreuse;
  opacity: 1;
  border: 1px chartreuse;
  height: 40px;
  text-align: center;
}

.option {
  font-family: Verdana, Tahoma, sans-serif;
  color: white;
}

.name {
  font-size: 24px;
}

#charge1 {
  background: rgb(247, 144, 49);
  opacity: 1;
  border: 1px rgb(247, 144, 49);
  height: 20px;
  width: 30%;
  border-radius: 5px;
}

#charge2 {
  background: rgb(50, 197, 5);
  opacity: 1;
  border: 1px rgb(50, 197, 5);
  height: 20px;
  width: 60%;
  border-radius: 5px;
}

#charge3 {
  background: rgb(187, 5, 5);
  opacity: 1;
  border: 1px rgb(187, 5, 5);
  height: 20px;
  width: 10%;
  border-radius: 5px;
}

.inner-container {
  /* border: 3px dotted fuchsia; */
  margin: 0 7%;
}

.margin {
  margin: 30px 0px 0px 0px;
}
